*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    padding:10px 10px 10px 10px;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
}
.head{
    display: flex;
    gap: 46vw;
}
.get_started{
    display: flex;
    justify-content: right;
}